.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fa {
  color: #0c1267;
}

.qc-logo {
  height: 60px;
}

.qc-logo--lg {
  height: 100px;
}

.dashboard__nav {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  -webkit-box-shadow: -1px 6px 15px -4px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: -1px 6px 15px -4px rgba(0, 0, 0, 0.06);
  box-shadow: -1px 6px 15px -4px rgba(0, 0, 0, 0.06);
  z-index: 1;
}

.dashboard__body {
  display: flex;
  height: 100%;
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
}

.dashboard__menu {
  position: fixed;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  background-color: rgb(232,233,236);
;
}

.dashboard__menu-item {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-size: 14px;

  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 1px;
  transition: 0.2s ease;
  color: rgba(12, 56, 103, 0.62);
  font-weight: 700;

}

.dashboard__menu-item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.dashboard__menu-item--active {
    color: rgba(12, 56, 103, 1);
}

.dashboard__content {
  padding-left: 240px;
  padding-right: 40px;
  width: 100%;
  text-align: left;
  overflow: scroll;
}

.dashboard__block {
  margin-top: 40px;
  max-width: 1100px;
  width: 100%;
  background-color: white;
  border-radius: 4px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 60px;
  -webkit-box-shadow: 0px -1px 18px 2px rgba(0,0,0,0.03);
-moz-box-shadow: 0px -1px 18px 2px rgba(0,0,0,0.03);
box-shadow: 0px -1px 18px 2px rgba(0,0,0,0.03);
}

.dashboard__content-title {
  font-size: 28px;
  display: flex;
  justify-content: space-between;

  font-family: "almaq-refined";
  padding-left: 40px;
  padding-right: 40px;
  height: 80px;
  align-items: center;
  color: #0c1267;
}

.dashboard__content-subtitle {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-between;

  font-family: "Nunito Sans", sans-serif;
}

.dashboard__button {
  height: 42px;
  width: 150px;

  border-radius: 4px;
  border: none;
  background-color: #ff6767;
  color: #ffffff;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  transition: 0.2s ease;
}

.dashboard__button:hover {
  cursor: pointer;
}

.dashboard__button:focus,
.dashboard__button:active {
  outline: none;
}

.billing-options {
  margin-top: 28px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}

.billing-option {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.billing-option img {
  height: 40px;
}

.billing-option__text {
  margin-left: 22px;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.billing-or {
  margin-left: 22px;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.billing-option-label {
  margin-bottom: 12px;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.billing-option-error {
  margin-bottom: 12px;
  margin-top: 24px;
  font-size: 16px;
  color: #d64541;
  font-family: "Nunito Sans", sans-serif;
}

.billing-option-success {
  margin-bottom: 12px;
  margin-top: 24px;
  font-size: 16px;
  color: green;
  font-family: "Nunito Sans", sans-serif;
}

.publisher-content {
  margin-left: 40px;
  margin-right: 40px;
}

.publisher-content__headline {
  font-family: "Nunito Sans", sans-serif;

  border-bottom: 1px solid #0c1267;
  display: flex;
  margin-top: 48px;
  padding-bottom: 8px;
  color: #0c1267;
  font-weight: 700;
}

.date-added {
  width: 15%;
}

.slug {
  width: 40%;
  overflow: hidden;
}

.audio {
  width: 30%;
}

.price {
  width: 20%;
  padding-left: 12px;
}

.is-active {
  width: 13%;
}

.publisher-content__row {
  position: relative;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  border-bottom: 1px solid rgba(01, 01, 01, 0.1);
  display: flex;
  min-height: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  color: #0c1267;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  transition: 0.4s ease;
}
.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border: 2px solid #0c1267;
}
.styled-checkbox:hover + label:before {
}
.styled-checkbox:focus + label:before {
}
.styled-checkbox:checked + label:before {
  background: #0c1267;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 7px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.delete-content {
  position: absolute;
  right: 0;
  color: rgb(192, 57, 43);
}

.delete-content:hover {
  cursor: pointer;
}

.edit-content {
  position: absolute;
  right: 30px;
  color: #a8a8a8;
}

.edit-content:hover {
  cursor: pointer;
}

.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 20px 0;
}

.centered {
  width: 300px;
  margin: auto;
}

.title {
  text-align: center;
  color: rgb(69, 113, 236);
}

.add-content-wrap {
  top: 0px;
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(01, 01, 01, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-content-form {
  width: 400px;
  padding: 40px;
  position: relative;
  border-radius: 4px;
  background-color: #ffffff;
}

.fa-close:hover {
  cursor: pointer;
}

.add-content-title {
  text-align: left;
  font-size: 22px;
  margin-bottom: 22px;
  font-family: "Nunito Sans", sans-serif;
  color: #0c1267;
}

.help-text {
  margin-top: 20px;
  text-align: left;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  opacity: 0.6;
}

.edit-form {
  position: absolute;
  background-color: rgba(01, 01, 01, 0.8);
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.send-pass-reset {
  margin-top: 24px;
  font-size: 16px;
  text-decoration: underline;
  font-family: "Nunito Sans", sans-serif;
  transition: 0.2s ease;
  color: #0c1267;
}

.send-pass-reset:hover {
  cursor: pointer;
  opacity: 0.6;
}

.question-block {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}

.question {
  font-size: 18px;
  margin-bottom: 0px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 8px;
  color: #0c1267;
}

.answer {
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  opacity: 0.5;
}

.dashboard__nav__title {
  color: #0c1267;
  font-family: "almaq-refined";
  font-size: 30px;
  font-weight: 700;
  padding-left: 40px;
}

.dashboard__nav__title--sm {
  font-size: 20px;
  padding-right: 40px;
}

@media (max-width: 900px) {

  .dashboard__block {
    margin-top: 20px;
  }

  .add-content-form {
    width: 80%;
    padding: 20px;
  }

  .dashboard__menu-item {
    padding-left: 0px;
  }

  .dashboard_nav {
    width: initial;
  }

  .dashboard__nav__title {
    padding-left: 20px;
    font-size: 20px;
  }

  .dashboard__nav__title--sm {
    font-weight: 400;
    font-size: 16px;
    padding-right: 20px;
  }

  .publisher-content {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .publisher-content__row {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .publisher-content__headline {
    display: none;
  }

  .price {
    display: none;
    padding-left: 0px;
  }

  .dashboard__button {
    height: 32px;
    font-size: 12px;
    width: 120px;
  }

  .date-added {
    display: none;
    margin-bottom: 8px;
    width: 80%;
  }

  .slug {

    margin-bottom: 8px;
    width: 70%;
  }

  .price {
    margin-bottom: 8px;
    width: 80%;
  }

  .dashboard__body {
    flex-direction: column;
  }

  .dashboard__menu {
    position: relative;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 50px;
    padding: 10px;
  }

  .dashboard__content {
    width: initial;
    padding: 20px;
    overflow: inherit;
  }

  .dashboard__content-title {
    flex-direction: column;
    padding-left: 20px;
  }
}

@media (max-width: 600px) {
  .dashboard__menu {
    flex-direction: column;
    min-height: 200px;
    align-items: flex-start;
    padding-left: 20px;
  }

  .dashboard__menu-item {
    width: 100%;
  }
}
